*{
  margin:0;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

}

#clase #Departamento #Seccion{
  overflow-x:auto;
}

.noticias{
  margin-top: 700px;
  background-color:  #d5dbdb ;
  color: gray;

}


.userIcon{
  margin-top: 30px;
  width: 120px;
  height: 120px;
}

.somosPumas{
  background-image: url(../img/muro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 150px;
  text-align: center;
  color: white;
  padding-bottom:150px;
}




.footerFinal{
  background-color:  #d5dbdb;
}

.logoFooter{
  margin:10px auto;
  display:block;
}

.contenidoNoticiasFinal{

}

.seccionNoticias{
  text-align: center;
}

.seccionNoticias #calendario{
  margin-top: 90px;
  font-size: 40px;
}

.tabla1{
  font-size: 9px;
  padding-top:1px;

  cursor: pointer;
  background-color: #3B8686;
  padding-top: 8px;
  color: white;
  text-align: left;


}

.bocadillo{

  text-align: right;
  font-size: 15px;
  color: white;

  border-radius: 25px 25px 25px 25px;
}

.tabla1:hover{
    -webkit-transform: scale(1.1);
    transition:  0.4s;
    transform: scale(1.1);
}

.tabla2{
  font-size: 9px;
  padding-top:1px;

  cursor: pointer;
  background-color: #79BD9A;
  padding-top: 8px;
  color: white;
  text-align: left;

}

.tabla2:hover{
    -webkit-transform: scale(1.1);
    transition:  0.4s;
    transform: scale(1.1);
}


.tabla3{
  font-size: 9px;
  padding-top:1px;

  cursor: pointer;
  background-color: #A8DBA8;
  padding-top: 8px;
  color: white;
  text-align: left;

}

.tabla3:hover{
    -webkit-transform: scale(1.1);
    transition:  0.4s;
    transform: scale(1.1);
}

.tabla4{
  font-size: 9px;
  padding-top:1px;

  cursor: pointer;
  background-color: #0B486B;
  padding-top: 8px;
  color: white;
  text-align: left;

}

.tabla4:hover{
    -webkit-transform: scale(1.1);
    transition:  0.4s;
    transform: scale(1.1);
}

.seccionNoticias h1{
      width: 100%;
      height: auto;
  }


  .eventos{
    margin-top: 70px;

    background-color: white;
  }

  .notiMostrar:hover{

      -webkit-transform: scale(1.02);
       box-shadow: 4px 4px 10px #666;
      transition:  0.4s ease;
      transform: scale(1.02);
      cursor: pointer;
      z-index: 100;
  }

  .eventos img{

    margin-top: 0px;
    width: 400px;
    height: 300px;
    margin-bottom: 25px;
  }

.seccionNoticias img{
  margin-top: 30px;
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
  color:  #5f6a6a ;
}

.cuerpo-principal{
  padding: 0;
  margin: 0;

  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Comfortaa', cursive;
}

.cuerpo-sistema{
  padding: 0;
  margin: 0;
  background-color:  #212f3c;
  font-family: 'Comfortaa', cursive;
}

.contenidoPagina{
  color: white;
  font-size: 8px;
}

.contenidoPagina h1{
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 25px;
}

.contenidoPagina h2{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
    cursor: pointer;
    font-size: 20px
}

.contenidoContainers{
  margin-left: 0 auto;
  border-radius: 25px 25px 0px 0px;
  background-color: white;
  font-size: 12px;
  color:black;



}

.contenidoContainers td{
 font-size: 10px;
}

.contenidoContainers th{
 font-size: 11px; }



.area{
    font-size:60px;
    text-align: center;
    color: pink;

}

#contenido{
  background-color: white;
  color: black;
  border-radius: 10px 10px 0px 0px;
}

.elementos{
  margin-left: auto;
}

.elementos li{
margin-left: 20px;
}

.mensaje-bienvenida{

  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.contenidologin{
    width: 350px;
    height: 230px;
    background-color: white;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    border-radius: 20px 20px 0px 0px;
    padding-left: 0;
    padding-right: 0;
}

.contenidologin a{
  color: white;
  text-decoration: none
}

.contenidologin img{
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: 10px;
}

.contenidologin input{
  border-radius: 150px;
  width: 215px;
  margin: 0 auto;
  text-align: center;
}

#footerLogin {
  background-color: rgba(153, 0, 51);
  color: white;
  padding-left: 0;
  height: 50px;
}

#footerLogin h6{
  padding-top: 15px;
  text-align: right;

}

#footerLogin h6:hover{
  cursor: pointer;

}

.footerLogin{
    background-color:  #17202a;
    text-align: center;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    color: white;
    position:absolute;


}

.footerLogin i{
  font-size: 50px;
}

.mensaje-bienvenida svg{
    font-size: 45px;
    cursor: pointer;
    color: white;
}

.sticky {
  position: fixed;
  /*background-color: rgba(153, 0, 51);*/
  background-color: rgba(153, 0, 51);
  top: 0;
  width: 100%;
  z-index: 100;

}

.sticky a{

  color: white;
  text-decoration: none

}

.color-navbar-sistema{
    background-color: rgba(153, 0, 51);
}

.color-navbar-principal {
  z-index: 100;
  background-color: rgba(153, 0, 51,0.0);
}

.color-navbar-principal a{
  color: white;
  text-decoration: none
}

.color-navbar-sistema a{
  color: white;
  text-decoration: none
}

.color-fuente-navbar-principal{
  color: white;
}



.link-navbar{
  color: white;
  text-decoration: none;
}
.link-navbar:hover{
  color:white;
}

.login-icon{
  margin-left: 5px;
  color: white;
}

.logoUnah{
  width: 80px;
  height: 47px;
}

.piePagina{
  position: fixed;
   left: 0;
   bottom: 0;
   height: 38px;
   width: 100%;
   background-color:#1d2c3f;
   color: white;
   text-align: right;
}

.piePagina span{
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 5px;
}

.piePagina a{
  color: white;
}

.icono-footer{
  margin-left: auto;
  position: relative;
  margin-top: 7px;
  cursor: pointer;
  margin-right: 5px
}

.icono-footer:hover{
  color: white;
}

.seccion-noticias{
  background-color: white;
  margin-top: 1000px;
  height: 600px;
}

.seccion-noticias-2{
  background-color: purple;
  margin-top: 800px;
  height: 600px;
  float: inherit;
}

.seccion-noticias h1{
  padding-top: 25px;
  margin-top: 10px;
  color: black;
  text-align: center;
}

.social-box{
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 2000;
}

.social-box ul{
  list-style: none;
}

.social-box ul li a{
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;

}

.social-box ul li .icon-facebook{background: #3b5998; padding: 10px 18.5px}
.social-box ul li .icon-twitter{background: #00abf0;}
.social-box ul li .icon-email{background: #666666;}
.social-box ul li .icon-googleMaps{background:  #239b56;padding: 10px 17px}

.social-box ul li a:hover{
  padding: 10px 25px;
  background-color: rgba(153, 0, 51);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:  rgba(153, 0, 51);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sidenav svg{
  float: right;
  margin-right: 5px;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 10px;}
}

.elementos2 a{
margin-left: 30px;
}

#documentoYoutube{
  color: red;
}

.sectionNotiPro{
  background-color: #e35183;
text-align: center;


}

.sectionNotiPro svg{
  margin-top: 15px;
  font-size: 80px;
  left: 0 auto;
  color: white;
  padding-bottom: 10px;
}
.sectionNotiPro h1{
  font-size: 20px;
  color: white;


}

#seccion2{
  background-color:#66ffa6;
}



#noticia2{
  background-color: #2bbd7e;

  color: white;
  font-size: 18px;
  text-align: right;
}


.fondoNotiPro{
  background-color: #78002e;

  color: white;
  font-size: 18px;
  text-align: right;

}

.margen{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 14px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(153, 0, 51);;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
/*
.mensaje-bienvenida{
  width: 500px;
  height: 400px;
  margin: 100px auto;
  background: red;
  position: relative;
}

.mensaje-bienvenida h1{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;

}*/
